body {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  margin: 10px 40px;
  background-color: rgb(154, 195, 181);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
a{
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
nav{
  /* background-color: gray; */
  /* width: 60%; */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
nav a{
  padding: 0 10px;
  margin: 20px;
  width: 100px;
  transition: 0.3s;
}
nav a:hover{
  background-color: rgba(0, 0, 0, 0.2);
  scale: 1.2;
}
.active{
  background-color: rgba(0, 0, 0, 0.2);
  border-top: solid 2px crimson;
  border-left: solid 2px crimson;
  border-right: solid 2px crimson;
  /* padding-bottom: 20px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  scale: 1.2;
  /* border-bottom-right-radius: -50px; */
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.dashimg{
  width: 60%;
  border-radius: 5px;
  padding: 10px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100vh;
  padding: 10px;
}
.footer .socials{
  /* background-color: aquamarine; */
  padding: 20px 40px;
  border-left: solid 2px white;
  
  
}
.footer a{
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: 0.3s;
  color: crimson;
}
.footer a:hover{
  background-color: rgba(0, 0, 0, 0.2);
  scale: 1.4;
  border-top: solid 2px crimson;
  border-left: solid 2px crimson;
  border-right: solid 2px crimson;
  color: white;
}
.footer .slogan{
  font-size: 1.0rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background-color: crimson;
}
.footer .apps{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer .apps p{
  color: crimson;
  transition: 0.3s;
}
.footer .apps p:hover{
  font-size: 1.0rem;
  border-left: solid 0.5px crimson;
  padding-left: 5px;
  color: white;
  /* border-he: 10px; */
}
.footer .apps span{
  color: white;
  /* border: solid 0.5px crimson; */
}
/* emp previews / list */
.emp-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.emp-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.emp-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.EmpDelete{
  color: #f1356d;
  border: none;
  background-color: rgba(0,0,0,0);
  transition: 0.8s;
}
.EmpDelete:hover{
  color: #fff;
  border: none;
  background-color: rgba(0,0,0,0.7);
  border: solid 0.5px #f1356d;
  scale: 1.2;
  padding: 1px 2px;
  margin: 0px 2px;
}
.EmpUpdate{
  color: #157408;
  border: none;
  background-color: rgba(0,0,0,0);
  transition: 0.8s;
}
.EmpUpdate:hover{
  color: #fff;
  border: none;
  background-color: rgba(0,0,0,0.7);
  border: solid 0.5px #157408;
  scale: 1.2;
  padding: 1px 2px;
  margin: 0px 2px;
}
